In [1]:
import pandas as pd
pd.set_option ('display.max_rows', None)

In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
df = pd.read_csv('bestofrt.tsv',sep ='\t')
df.head()

   ranking  critic_score                      title  number_of_critic_ratings
0        1            99    The Wizard of Oz (1939)                       110
1        2           100        Citizen Kane (1941)                        75
2        3           100       The Third Man (1949)                        77
3        4            99             Get Out (2017)                       282
4        5            97  Mad Max: Fury Road (2015)                       370

In [4]:
url = 'https://www.rottentomatoes.com/m/et_the_extraterrestrial'
response = requests.get(url)

In [5]:
with open (response) as file:
    soup = BeautifulSoup(file, 'lxml')

TypeError: expected str, bytes or os.PathLike object, not Response